html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker", cursive, "Times New Roman", Times, serif;
}

nav {
  height: 5vh;
  width: 100vw;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000c66;
}

nav header {
  color: white;
}

nav ul#nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 0 1rem;
  transition: background-color 0.3s;
}

nav ul#nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul#nav-links li a {
  color: white;
  text-decoration: none;
}

nav ul#nav-links li a:hover {
  color: #ffcc00;
}

section {
  border-bottom: 3rem solid black;
}

section#home {
  padding-top: 5vh;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #942222;
  color: white;
  text-shadow: black 1px 0 10px;
}

section#home div#home-logo-mario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#home div#home-logo-mario p#secret-text {
  display: none;
}

section#home div#home-logo-mario:hover {
  background-image: url("../images/logo/mario-auditore-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section#home div#home-logo-mario:hover img {
  opacity: 0;
}

section#home div#home-logo-mario:hover p#secret-text {
  display: block;
  text-align: center;
}

section#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00;
}

section#about h2#about-heading {
  font-size: 2rem;
  margin: 1rem 0;
}

section#about ul#about-tiles-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
}

section#about ul#about-tiles-list li {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

section#about ul#about-tiles-list div.about-tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

section#about ul#about-tiles-list div.about-tile img {
  width: 100%;
  border-radius: 0.5rem;
}

section#about ul#about-tiles-list div.about-tile p.about-tile-description {
  text-align: center;
}

section#contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgb(246, 13, 245);
  background: linear-gradient(
    160deg,
    rgba(245, 0, 252, 1) 0%,
    rgba(254, 165, 165, 1) 57%,
    rgba(255, 255, 255, 1) 99%
  );
  color: white;
}

section#contact h2#contact-heading {
  font-size: 2rem;
  margin: 1rem 0;
  color: black;
}

section#contact ul#contact-links-list {
  width: 25%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

section#contact ul#contact-links-list li.contact-links-list-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#contact ul#contact-links-list li.contact-links-list-child img {
  width: 100%;
}

section#contact ul#contact-links-list li#contact-github:hover {
  background-image: url(../images/logo/github-logo-light.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section#contact ul#contact-links-list li#contact-github:hover img {
  opacity: 0;
}

section#contact ul#contact-links-list li#contact-linkedin:hover {
  background-image: url(../images/logo/linkedin-logo-light.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section#contact ul#contact-links-list li#contact-linkedin:hover img {
  opacity: 0;
}

section#contact ul#contact-links-list li#contact-twitter:hover {
  background-image: url(../images/logo/twitter-logo-light.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section#contact ul#contact-links-list li#contact-twitter:hover img {
  opacity: 0;
}

section#contact ul#contact-links-list li#contact-instagram:hover {
  background-image: url(../images/logo/instagram-logo-light.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section#contact ul#contact-links-list li#contact-instagram:hover img {
  opacity: 0;
}

footer {
  background-color: #000c66;
  color: white;
}

footer ul#footer-sources-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

footer ul#footer-sources-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

footer ul#footer-sources-list li a {
  color: #ffcc00;
  text-decoration: none;
}

footer ul#footer-sources-list li a:hover {
  color: #942222;
}
