nav {
  justify-content: center;
}

nav header {
  display: none;
}

section#about h2#about-heading {
  margin-top: 4rem;
}

section#about ul#about-tiles-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section#contact h2#contact-heading {
  margin-top: 4rem;
}

section#contact ul#contact-links-list {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

section#contact ul#contact-links-list li.contact-links-list-child {
  width: 100%;
}
